<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to Jumani<%= puncuation %><%= my_user %></h1>
    <form action="/signup" method="POST">
        <p><input type="text" name="username" placeholder="What is your username?"></p>
        <p><input type="text" name="password" placeholder="password"></p>
        <input type="submit" value="sign up">
    </form>

    <% if (invalid_login) { %>

    <div class="error">
        Invalid login.
    </div>
    <% } %>
</body>
</html>