<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/wrong.css">
    <title>Mouse Wrong</title>
</head>
<body>
    <div class="container">
    <h1>You died and lost a life! Try again!</h1>
    <img src="/public/images/mouseWrong.jpg" alt="">
    <a href="/mouse/1">I will win this time!</a>
    </div>
</body>
</html>